<div>
  <h1>About this Template</h1>
  <p>This template is meant to be an easy way to get started with Rails and MongoDB.</p>
  <p>Check out the official repo at <a className="underline text-green-800" href="http://github.com/mongodb-developer/rails-mongodb">Github.com/mongodb-developer/rails-mongodb</a></p>
</div>